<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Mobile Sample</string>
	<key>CFBundleIdentifier</key>
	<string>com.costoda.XamarinReference.iOS</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.4</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Roboto-Black.ttf</string>
		<string>Fonts/Roboto-BlackItalic.ttf</string>
		<string>Fonts/Roboto-Bold.ttf</string>
		<string>Fonts/Roboto-BoldItalic.ttf</string>
		<string>Fonts/Roboto-Italic.ttf</string>
		<string>Fonts/Roboto-Light.ttf</string>
		<string>Fonts/Roboto-LightItalic.ttf</string>
		<string>Fonts/Roboto-Medium.ttf</string>
		<string>Fonts/Roboto-MediumItalic.ttf</string>
		<string>Fonts/Roboto-Regular.ttf</string>
		<string>Fonts/Roboto-Thin.ttf</string>
		<string>Fonts/Roboto-ThinItalic.ttf</string>
		<string>Fonts/Roboto-Condensed-Bold.ttf</string>
		<string>Fonts/Roboto-Condensed-BoldItalic.ttf</string>
		<string>Fonts/Roboto-Condensed-Italic.ttf</string>
		<string>Fonts/Roboto-Condensed-Light.ttf</string>
		<string>Fonts/Roboto-Condensed-LightItalic.ttf</string>
		<string>Fonts/Roboto-Condensed-Regular.ttf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>BackgroundImage</key>
			<string></string>
		</dict>
	</dict>
	<key>NSMainNibFile</key>
	<string>LaunchScreen</string>
	<key>NSMainNibFile~ipad</key>
	<string>LaunchScreen</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon@2x.png</string>
		<string>Icon.png</string>
		<string>Icon-60@2x.png</string>
		<string>Icon-76.png</string>
		<string>Icon-76@2x.png</string>
		<string>Icon-Small-50@2x.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small-40@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
</dict>
</plist>
